fastapi
uvicorn[standard]
python-jose[cryptography]
passlib[bcrypt]
bcrypt==3.2.2
pydantic
pydantic-settings
python-multipart
python-dotenv
google-auth-oauthlib
google-auth-httplib2
google-api-python-client
requests
httpx
google-generativeai
pillow
sqlalchemy
psycopg2-binary
alembic
boto3
python-multipart
email-validator